

.ville{
    font-size: 50px;
    flex-direction: row;
    display: inline-block;
    min-width: 450px;

}

.ville_preference{
    text-align: center;
}
 
.circle{
    display: inline-block;
    height:209;
    width: 432;
}

city{
    display: flex;
}

text{
    color: white;
}
 