

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../image/pexels-pixabay-314726.jpg);
    background: 100;
    opacity : 1; 
    flex-grow: 1;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.formulaire{
    font-size: 40PX;
    margin-top: 0px;
    text-align: center;
}

h2{
    color: whitesmoke;
    text-shadow: black 0.1em 0.1em 0.2em;
    
    font-size: 120PX;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

p{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;

}

footer{
    /* background-color: #c6c6c6; */
	background-color: hwb(0 20% 80%);
    color: white;
	left:0px;
	right: 0px;
	width: 100%;
}