{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Option de vol</h2>





 
  <div class="col-md-6" style="margin: 0 auto">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static juan">
        <strong class="d-inline-block mb-2 text-success">Aller:</strong>
        <h3 class="mb-0">Départ de {{billet_1.0}} </h3><div class="mb-1 text-muted">{{billet_1.1}} durée:{{billet_1.9}}</div>
        <h3 class="mb-0">Arrivée à {{billet_1.2}}</h3>
        <div class="mb-1 text-muted">{{billet_1.3}}</div>
        <h3 class="mb-0">Escale : {{billet_1.11}}</h3>
        <h3 class="mb-0">Compagnie: {{billet_1.13}}</h3>
      </div>
      


        <div class="col p-4 d-flex flex-column position-static juan">
          <strong class="d-inline-block mb-2 text-success">Retour:</strong>
          <h3 class="mb-0">Départ de {{billet_1.4}} </h3><div class="mb-1 text-muted">{{billet_1.5}} durée:{{billet_1.9}}</div>
          <h3 class="mb-0">Arrivée à {{billet_1.6}}</h3>
          <div class="mb-1 text-muted">{{billet_1.7}}</div>
          <h3 class="mb-0">Escale : {{billet_1.12}}</h3>
          <h3 class="mb-0">Compagnie : {{billet_1.14}}</h3>
        </div>
      <div class="col-auto d-none d-lg-block">

        <p class="mb-auto">Prix : {{billet_1.8}} €</p>

      </div>
    </div>
  </div>
</div>

<div class="col-md-6" style="margin: 0 auto">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">Aller:</strong>
      <h3 class="mb-0">Départ de {{billet_2.0}} </h3><div class="mb-1 text-muted">{{billet_2.1}} durée:{{billet_2.9}}</div>
      <h3 class="mb-0">Arrivée à {{billet_2.2}}</h3>
      <div class="mb-1 text-muted">{{billet_2.3}}</div>
      <h3 class="mb-auto">Escale : {{billet_2.11}}</h3>
      <h3 class="mb-auto">Compagnie: {{billet_2.13}}</h3>
    </div>
    


      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Retour:</strong>
        <h3 class="mb-0">Départ de {{billet_2.4}} </h3><div class="mb-1 text-muted">{{billet_2.5}} durée:{{billet_2.9}}</div>
        <h3 class="mb-0">Arrivée à {{billet_2.6}}</h3>
        <div class="mb-1 text-muted">{{billet_2.7}}</div>
        <h3 class="mb-auto">Escale : {{billet_2.12}}</h3>
        <h3 class="mb-auto">Compagnie : {{billet_2.14}}</h3>
      </div>
    <div class="col-auto d-none d-lg-block">

      <p class="mb-auto">Prix : {{billet_2.8}} €</p>

    </div>
  </div>
</div>
</div>

<div class="col-md-6" style="margin: 0 auto">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">Aller:</strong>
      <h3 class="mb-0">Départ de {{billet_3.0}} </h3><div class="mb-1 text-muted">{{billet_3.1}} durée:{{billet_3.9}}</div>
      <h3 class="mb-0">Arrivée à {{billet_3.2}}</h3>
      <div class="mb-1 text-muted">{{billet_3.3}}</div>
      <h3 class="mb-0">Escale : {{billet_3.11}}</h3>
      <h3 class="mb-0">Compagnie: {{billet_3.13}}</h3>
    </div>
    


      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Retour:</strong>
        <h3 class="mb-0">Départ de {{billet_3.4}} </h3><div class="mb-1 text-muted">{{billet_3.5}} durée:{{billet_3.9}}</div>
        <h3 class="mb-0">Arrivée à {{billet_3.6}}</h3>
        <div class="mb-1 text-muted">{{billet_3.7}}</div>
        <h3 class="mb-0">Escale : {{billet_3.12}}</h3>
        <h3 class="mb-0">Compagnie : {{billet_3.14}}</h3>
      </div>
    <div class="col-auto d-none d-lg-block">

      <p class="mb-auto">Prix : {{billet_3.8}} €</p>

    </div>
  </div>
</div>
</div>





{% endblock content %}

