{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="text-center">
    
    <div  class="form-signin w-100 m-auto">
   
   <form method="post" action="" class="container">
    {% csrf_token %}
       <div class="form-floating">
           <div class="container-sm">
               <div class="my-2 card">
                   <div class="card-body">
               <h5 class="h3 mb-3 fw-normal">Destination</h5>
                    </div>
               </div>
           </div>
       </div>
   
   
       <div class="container">
           <div class="row">
               <div class="col">
                   <div class="form-floating">
                      {{form.depart|add_class:"form-control"}}
                        <label for="{{form.depart.id_for_label}}"> Départ de  </label>
                    </div>
               </div>
               <div class="col">
                   <div class="form-floating">
                    {{form.destination|add_class:"form-control"}}
                       <label for="{{form.destination.id_for_label}}"> Arrivée à </label>
                   </div>
               </div>
           </div>
       </div>
   
   
   
       <div class="form-floating">
           <div class="container-sm">
               <div class="my-2 card">
                    <div class="card-body">
                       <h5 class="h3 mb-3 fw-normal">Date</h5>
                   </div>
               </div>
           </div>
         </div>
       
       <div class="container">
           <div class="row">
               <div class="col">
                   <div class="form-floating">
                     {{form.date_depart|add_class:"form-control"}}
                        <label for="{{form.date_depart.id_for_label}}"> Date de départ </label>
                    </div>
               </div>
               <div class="col">
                   <div class="form-floating">
                     {{form.date_arrive|add_class:"form-control"}}
                       <label for="{{form.date_arrive.id_for_label}}"> Date de retour</label>
                   </div>
               </div>
           </div>
       </div>
   
   
       <div class="form-floating">
           <div class="container-sm">
               <div class="my-2 card">
                   <div class="card-body">
                       <h5 class="h3 mb-3 fw-normal">Nombre de passagers</h5>
                   </div>
                </div>
           </div>
         </div>
   
       <div class="container">
           <div class="row">
                <div class="col">
                   <div class="form-floating">
                     {{form.nombre_adult|add_class:"form-control"}}
                       <label for="{{form.nombre_adult.id_for_label}}"> Adultes</label>
                   </div>
               </div>
               <div class="col">
                   <div class="form-floating">
                     {{form.nombre_enfant|add_class:"form-control"}}
                       <label for="{{form.nombre_enfant.id_for_label}}"> Enfant</label>
                   </div>
               </div>
               <div class="col">
                   <div class="form-floating">
                     {{form.infant|add_class:"form-control"}}
                       <label for="{{form.infant.id_for_label}}"> bébé</label>
                   </div>
               </div>
           </div>
       </div>
   
       <div class="my-1">
           <div class="container-sm">
           
       <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
       </div>
   </div>
   </form>
    </div>
   </div>

    
{% endblock content %}
