{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<h2> Changer votre mot de passe </h2>

<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    
        <div class="text-center container">
        
            <div class="form-signin w-100 m-auto">
              <form>
                <img class="mb-4" src="{% static 'image/logo2.png' %}" alt=""   width="150" height="150">
                
            
                <div class="form-floating">
                    {{form.old_password|add_class:"form-control"}}
                  {% comment %} <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> {% endcomment %}
                  <label for="{{form.old_password}}">  Ancien mot de passe</label>
                </div>
                <div class="form-floating">
                    {{form.new_password1|add_class:"form-control"}}
                    <label for="{{form.new_password1.id_for_label}}">Nouveau mot de passe</label>
                </div>
                <div class="form-floating">
                    {{form.new_password2|add_class:"form-control"}}
                    <label for="{{form.new_password2.id_for_label}}">Verification du mot de passe</label>
                </div>
 
                <button class="w-100 btn btn-lg btn-primary" type="submit">Changer le mot de passe</button>
               
              </form>
            </div>
            
            
                
          </div>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    {% endblock content %}
