{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <h2>Mot de passe oublié</h2>
  
  <p> Entrer votre email et suivez les instructions pour récuperer un nouveau mot de passe </p>

  <form method="POST" class="container">
 

    {% csrf_token %}
  

    <div class="form-floating">
      {{form.email|add_class:"form-control"}}
      <label for="{{form.email.id_for_label}}">Email</label>
    </div>



    <button class="w-100 btn btn-lg btn-primary" type="submit">Envoyer un nouveau mot de passe</button>
   
  </form>

  </form>
{% endblock %}