{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class='container'>
  <h2>Créer un compte</h2>
    <form method="POST">
        {% csrf_token%}
        <div class="form-floating">
          
          {{form.username|add_class:"form-control"}}
          <label for="{{form.username.id_for_label}}">Pseudo</label>
          <div id="emailHelp" class="form-text">{{form.username.help_text}}</div>

        </div>

        <div class="form-floating">
          
          {{form.email|add_class:"form-control"}}
          <label for="{{form.email.id_for_label}}" >Email</label>
          <div id="emailHelp" class="form-text">{{form.email.help_text}}</div>
        </div>

        <div class="form-floating">
          
          {{form.password1|add_class:"form-control"}}  
          <label for="{{form.password1.id_for_label}}" >Mot de passe:</label> 
          <div id="emailHelp" class="form-text">{{form.password1.help_text}}</div>        
        </div>

        <div class="form-floating">
            
            {{form.password2|add_class:"form-control"}}
            <label for="{{form.password2.id_for_label}}" >Confirmer le mot de passe:</label> 
            <div id="emailHelp" class="form-text">{{form.password2.help_text}}</div>
        </div>

        <div class="mb-4">
            <label><input type="checkbox"> Se rappeler de moi</label>
        </div>

        <div class="checkbox">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Créer un compte</button>
        </div>


    </form> 
</div>




{% endblock content %}