{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <h2> Des idées d'hotels </h2>

    <div class="container">

    <form action="" method="post">

        {% csrf_token %}
            <div class="form-floating">
            {{form.ville|add_class:"form-control"}}
            <label for="{{form.ville.id_for_label}}"> Ville  </label>
            </div>
    
            <div class="form-floating">
            
            {{form.nombre_etoiles|add_class:"form-control"}}
            <label for="{{form.nombre_etoiles.id_for_label}}"> Nombre d'étoiles  </label>
            </div>

            <div class="form-floating">
            {{ form.services_equipements|add_class:"form-control"}}
            <label for="{{form.services_equipements.id_for_label}}"> Services </label>
            </div>

            

                <button class="w-100 btn btn-lg btn-primary" type="submit">Rechercher</button>
              
            
       

    </form> 
</div>


{% endblock content %}
