
{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="divers.css">



    <h2> A Propos</h2>



<div class= "paragraphe">

<p>AHD Travel est un site fait pour les voyageurs qui ne savent pas quelle prochaine destination choisir.
    La fontionnalité principale de notre site est que vous indiquez jusqu'à 5 villes que vous aimez et/ou que vous avez déjà visité,
    ensuite vous devez indiquer le pays de départ et il ne vous restera plus qu'à cliquer sur le bouton Valider.
    Une fois que vous avez cliqué sur le bouton valider, notre site va vous prédire 5 villes qui pourraient vous interressez, en fonction des villes que vous lui avait indiqué. 
    Notre site propose aussi deux autres fonctionnalités où vous pourrez avoir des informations sur les vols et les hôtels.</p>
</div>
{% endblock content %} 