{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
<div class="titre">
    <h2>Nous Contacter</h2>
</div>

    {% comment %} <div class="col-lg-4">
      

      <h2 class="nom">Adeline El Khoury</h2>
      <p>adelineinati@gmail.com</p>
      <p><a class="btn btn-secondary" href="#">envoyez un mail &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      

      <h2 class="nom">Hamza El Barek</h2>
      <p>hamzaelbrek3@gmail.com</p>
      <p><a class="btn btn-secondary" href="#">envoyez un mail &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">


      <h2 class="nom">Dylan Vanstavel</h2>
      <p>vanstavel.dylan@outlook.fr</p>
      <p><a class="btn btn-secondary" href="#">envoyez un mail &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row --> {% endcomment %}

  

<div class="card2">
  <img src="{% static 'image/adeline.jpg' %}" alt="John" style="width:100%">
  <h3>Adeline El Khoury</h3>
 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Adeline">Contact Adeline</button>
</div>


<div class="card2">
  <img src="{% static 'image/hamza.jpg' %}" alt="John" style="width:100%">
  <h3>Hamza El Barek</h3>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Hamza">Contact Hamza</button>
</div>

<div class="card2">
  <img src="{% static 'image/Dylan.jpeg' %}" alt="John" style="width:100%">
  <h3>Dylan Vanstavel</h3>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Dylan">Contact Dylan</button>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 