
{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2> Bienvenue les voyageurs </h2> 
    <p> Veuillez entre vos villes préférés (5 maximun séparé par une virgule ) et nous vous trouverons votre prochain voyage ! </p>
    <div class="formulaire">
    <form action="" method="post" >
        {% csrf_token %}
        <div>
        <label for="ville">Ville</label>
        
        
        
        {{ form.ville}}
        </div>
        <div>
        <label for="pays_de_depart"> Pays de départ</label>
        {{form.pays_de_depart}}
        </div>
        <div>
        <input type='submit' value = "envoyer" >
        </div>
    
        
    </form>
    <div>
        


{% endblock content %}