
{% load static %}


  <footer style="display: flex; justify-content: space-between; align-items: center; padding: 2rem">
    <p style="display: flex; align-items: center; margin: 0">2022 AHD Travel</p>

    <ul class="nav liste-footer">
      <li class="nav-item nav-item-footer"><a href="{% url 'home' %}" class="nav-link px-2 text-muted ">Home</a></li>
      <li class="nav-item"><a href="{% url 'vol' %}" class="nav-link px-2 text-muted ">Vol</a></li>
      <li class="nav-item"><a href="{% url 'hotel' %}" class="nav-link px-2 text-muted ">Hotel</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted ">About</a></li>
      <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2 text-muted ">Nous contacter</a></li>
    </ul>
  </footer>
  
