{% load static %}


<nav class="navbar navbar-expand-lg navbar-header">
    <div class="container-fluid container-header">
      <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-plane-departure"></i>AHD Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item nav-item-header">
            <a class="nav-link" href="{% url 'vol' %}">LES VOLS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'vol' %}">LES HOTELS</a>
          </li>

        
        {% if user.is_authentificated %}
          <span class="navbar-text"><i class="fa-regular fa-plane-circle-check">{{user.get_username}}</i></span>

          <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}?next={{request.path}}">log out</a>
          {%else%}
          <div class="connexion">
          
          <li class="nav-item connexion-item">
            <a class="navbar-brand" href="{% url 'login' %}">
              <i class="fa-solid fa-plane-circle-xmark connexion"></i>
                se connecter
            </a>
          </li>
          <li class="nav-item connexion-item">
            <a class="navbar-brand" href="#">
              <i class="fa-solid fa-plane-lock connexion"></i>
                s'incrire
            </a>
          </li>
        </div>
        {% endif %}
       
        </ul>
      </div>
    </div>
  </nav>

  