{% load static %}


<nav class="navbar navbar-expand-lg navbar-header">
    <div class="container-fluid container-header">
      <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'image/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav head">
          
          <li class="nav-item nav-item-header">
            <a class="nav-link" href="{% url 'vol' %}">LES VOLS</a>
          </li>

          <li class="nav-item nav-item-header">
            <a class="nav-link" href="{% url 'vol' %}">LES HOTELS</a>
          </li>

        
          
          
          <div class="connexion">
          
          <li class="nav-item connexion-item">
            <a class="navbar-brand" href="#">
              <i class="fa-solid fa-plane-lock connexion"></i>
                se connecter
            </a>
          </li>
          <li class="nav-item connexion-item">
            <a class="navbar-brand" href="#">
              <i class="fa-solid fa-plane-lock connexion"></i>
                s'incrire
            </a>
          </li>
        </div>
        </ul>
      </div>
    </div>
  </nav>

  